@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --text: #0a0a0a;
  --blue: #4285F4;
  --red: #EA4336;
  --yellow: #FABD05;
  --green: #34A853;
  --dark-grey: #5F6367;
  --grey: #D2D2D2;
  --light-grey: #F5F5F5;
  --unc: #4B9CD3;
  --nc-state: #CC0000;
  --duke: #00539B;
}

body {
  color: var(--text);
  background: var(--background);
  font-family: var(--font-roboto), sans-serif;
}

/* Search Bar */
.search-bar {
  @apply w-[500px] px-12 py-3 text-lg border border-gray-300 rounded-full shadow-md bg-white;
  @apply focus:outline-none focus:ring-0;
}

/* NavBar */
.nav-link {
  @apply text-gray-700 hover:text-black transition duration-300;
}

/* Menu Text */
.menu-text {
  @apply hover:underline text-gray-700;
}

/* User Profile */
.user-icon {
  @apply w-8 h-8 flex items-center justify-center rounded-full font-bold border border-gray-300;
  background-color: var(--light-grey);
  color: white;
}

/* Bottom Right Info Icon */
.info-icon {
  @apply absolute bottom-5 right-5 text-xl cursor-pointer text-gray-500;
}

.info-icon:hover {
  @apply text-black;
}
